body {
  background-image:url('/images/background.png');
  background-repeat:repeat-x;
  color: rgb(210,210,210);
  font-family: sans-serif;
}

img {
  border: 0;
}

#content {
  padding: 20px;
}

#header {
  text-align:center;
}

#quotation {
  font-size: 20pt;
}

#author {
  font-size: 18pt;
  margin-top: 10px;
}

#footer {
  text-align: center;
  padding-top: 80px;
}

#footer a {
  color: #7C95AC;
  margin: 0 8px;
  white-space: nowrap;
}