<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Quoteopedia</title>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>

<div id="content">
  <div id="header">
    <img src="images/logo.png" width="341" height="68" alt="Quoteopedia"/>
  </div>
  <div id="main">
    <p style="color: green"><%= notice %></p>

    <%= yield %>
  </div>
  <div id="footer">
    email <a href="mailto:hjw3001@gmail.com">hjw3001@gmail.com</a>
    twitter <a href="http://twitter.com/quoteopedia">@quoteopedia</a>
    facebook <a href="http://www.facebook.com/pages/Quoteopedia/117831524931197?v=wall&ref=sgm">Quoteopedia</a>
    code <a href="http://github.com/hjw3001/quotopedia">github</a>
  </div>
</div>
</body>
</html>
